.container-sm {
  max-width: 30rem;
  margin: 0 auto;
}

.container-m {
  max-width: 60rem;
  margin: 0 auto;
}

@media (max-width: 30em) {
  .container-sm,
  .container-m {
    margin: 6rem auto;
  }
}
